.register-container {
  width: 300px;
  margin: 0 auto;
 padding: 30px;
 border: 1px solid #cccccc;
 border-radius: 8px;

}

h2{
  text-align: center;
  
  }
/* src/styles.css or src/app.css */



form {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  
}

input {
  margin: 10px 0;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background-color: #f0768b;
  color:rgb(62, 7, 7);
  border: none;
  cursor: pointer;
}



.error-text {
  color: red;
  font-size: 12px;
}

button{
  color: #000;
}


.body{
  background-color: rgb(242, 7, 242);
}